<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.myagent.mapper.SessionMapper">
  <resultMap id="BaseResultMap" type="ai.myagent.model.entity.Session">
    <!-- @mbg.generated -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="model_id" jdbcType="VARCHAR" property="modelId" />
    <result column="tools" jdbcType="VARCHAR" property="tools" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="delete_time" jdbcType="BIGINT" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated -->
    id, model_id, tools, title, create_time, update_time, delete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select 
    <include refid="Base_Column_List" />
    from t_session
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!-- @mbg.generated -->
    delete from t_session
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ai.myagent.model.entity.Session">
    <!-- @mbg.generated -->
    insert into t_session (id, model_id, tools, 
      title, create_time, update_time, 
      delete_time)
    values (#{id,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, #{tools,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{deleteTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="ai.myagent.model.entity.Session">
    <!-- @mbg.generated -->
    insert into t_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="tools != null">
        tools,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="tools != null">
        #{tools,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ai.myagent.model.entity.Session">
    <!-- @mbg.generated -->
    update t_session
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="tools != null">
        tools = #{tools,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ai.myagent.model.entity.Session">
      <!-- @mbg.generated -->
      update t_session
      set model_id = #{modelId,jdbcType=VARCHAR},
      tools = #{tools,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      delete_time = #{deleteTime,jdbcType=BIGINT}
      where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="querySessionPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_session
        <where>
            <if test="title != null and title != ''">
                title like CONCAT('%', #{title}, '%')
            </if>
            <if test="lastUpdateTime != null">
                <![CDATA[ update_time < #{lastUpdateTime} ]]>
            </if>
            and delete_time is null
        </where>
        order by update_time desc
        limit #{limit}
    </select>
</mapper>